/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}


/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

@font-face {
    font-family: 'normal';
    src: url('../fonts/proxima-bold.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../fonts/proxima-bold.woff') format('woff');
    /* Pretty Modern Browsers */
}

@font-face {
    font-family: 'bold';
    src: url('../fonts/proxima-extrabold.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../fonts/proxima-extrabold.woff') format('woff');
    /* Pretty Modern Browsers */
}

body {
    background-color: #F5F3F1;
    display: flex;
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 5rem;
}

@media only screen and (min-width: 1224px) {
    body {
        padding-left: 20%;
        padding-right: 20%;
        width: 60%;
        padding-top: 5rem;
    }
    .popup {
        padding-left: 20%;
        padding-right: 20%;
        width: 100%;
    }
}

@media only screen and (min-width: 768px) and (max-width: 1224px) {
    .popup {
        padding-left: 10%;
        padding-right: 10%;
        width: 100%;
    }
}

.header {
    background-color: #1C2A36;
    color: #F5F3F1;
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin-bottom: 2rem;
    cursor: pointer;
    position: absolute;
    top: 0;
}

.active {
    /*opacity: .3;*/
    color: #EC333B;
}

div {
    font-size: 30px;
}

table {
    width: 100%;
}

h1 {
    font-family: 'bold';
    width: 100%;
    text-align: center;
    font-size: 2rem;
    color: #1C2A36;
    padding-bottom: 1rem;
}

.title {
    color: #00A9CC;
}

p {
    text-align: center;
    font-size: 1.2rem;
    line-height: 1.8rem;
    font-family: 'normal';
    width: 100%;
    color: #1C2A36;
    padding-bottom: 1.8rem;
}

.popup>p,
.popup>h1 {
    color: #F5F3F1;
}

.container {
    /*min-width: 170px;*/
    /*max-width: 32.8%;*/
    position: relative;
    -webkit-perspective: 800px;
    -moz-perspective: 800px;
    -ms-perspective: 800px;
    -o-perspective: 800px;
    perspective: 800px;
    /*width: 100%;*/
    display: inline-block;
    margin-bottom: -4px;
    margin: .2%;
    width: 32.9%;
    max-width: 12rem;
}


/* Smartphones (portrait) ----------- */

@media only screen and (max-width: 320px) {
    .container {
        width: 49.6%;
    }
}

.simple {
    /*display: inline-block;*/
    position: relative;
    margin-bottom: -4px;
    margin: .2%;
    width: 32.9%;
    height: auto;
    max-width: 20rem;
    background-size: contain;
    cursor: pointer;
}

@media only screen and (max-width: 320px) {
    .simple {
        width: 49.6%;
        min-width: 5rem;
    }
}

.simple::after {
    padding-top: 56.25%;
    /* 16:9 ratio */
    display: block;
    content: '';
}

.container::after {
    padding-top: 56.25%;
    /* 16:9 ratio */
    display: block;
    content: '';
}

.card {
    -webkit-transition: -webkit-transform 1s;
    -moz-transition: -moz-transform 1s;
    -ms-transition: -ms-transform 1s;
    -o-transition: -o-transform 1s;
    transition: transform 1s;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    transform-style: preserve-3d;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-image: url('../img/back.png');
    background-size: contain;
}

.card__inside {
    width: 100%;
    height: 100%;
}

.card.flipped {
    -webkit-transform: rotateY( 180deg);
    -moz-transform: rotateY( 180deg);
    -ms-transform: rotateY( 180deg);
    -o-transform: rotateY( 180deg);
    transform: rotateY( 180deg);
}

.card img {
    display: block;
    height: 100%;
    width: 100%;
    position: absolute;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    backface-visibility: hidden;
}

.card .back {
    -webkit-transform: rotateY( 180deg);
    -moz-transform: rotateY( 180deg);
    -ms-transform: rotateY( 180deg);
    -o-transform: rotateY( 180deg);
    transform: rotateY( 180deg);
}


/* Popup */

.ngdialog-overlay {
    position: fixed;
    background: rgba(28, 42, 54, .95);
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    -webkit-backface-visibility: hidden;
    -webkit-animation: ngdialog-fadein 0.5s;
    animation: ngdialog-fadein 0.5s;
}

.ngdialog.ngdialog-theme-default .ngdialog-content {
    -webkit-animation: ngdialog-flyin .5s;
    animation: ngdialog-flyin .5s;
    background: none;
    border-radius: 5px;
    color: #444;
    font-family: 'Helvetica', sans-serif;
    font-size: 1.1em;
    line-height: 1.5em;
    margin: 0 auto;
    max-width: 100%;
    padding: 1em;
    position: relative;
    width: 100%;
    height: 100%;
}

.ngdialog.ngdialog-theme-default .ngdialog-close:before {
    background: transparent;
    border-radius: 3px;
    color: #F5F3F1;
    content: '\00D7';
    font-size: 26px;
    font-weight: 400;
    height: 30px;
    line-height: 26px;
    position: absolute;
    right: 3px;
    text-align: center;
    top: 3px;
    width: 30px;
}

.ngdialog.ngdialog-theme-default {
    padding-bottom: 1rem;
    padding-top: 1rem;
}